/* Darkmode scrollbar */
:root {
    color-scheme: dark;
}

.topText {
    float: right;
    font-size: 2rem;
    height: 10px;
    /* font-weight: bold; */
}

#HighestAPMParagraph {
    display: inline;
}